@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
    color: #383838;
    background: #EBEBEB;
}
/*heading and logo*/

h1, h2{
    font-family: Noto serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #242424;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
/*navigation links*/

#menu {
    font-size: 100%;
    letter-spacing: 5px;
}
#menu, #logo {
line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
text-decoration: none;
color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #242424;
}
.active {
    border-bottom: 1px solid #242424;
}
/*hero-image and cover text*/

#hero-outer {   
    height: 600px;
    width: 100%;
    overflow: hidden; 
    position: relative;   
}
#cover-text, #cover-text h2{
    color: #383838;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: 100%;

/*animates zoom effect on loading page*/
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: backwards;
}
/*creats the level of zoom for hero image*/
@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}
#cover-text{
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
   
    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(245, 202, 9, 0.862);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*reasons content*/  
.reasons, *{
        box-sizing: border-box;
      }
      
      .box {
        float: left;
        width: 33.33%;
        padding: 50px;
      }

      hr {
        border-top: none;
        margin: 5px 0;
    
      }
      
      .clearfix::after {
        content: none;
        clear: both;
        display: table;
      }

      #welcome {
        text-align: center;
        margin: 20px 0;
        font-size: 280%;
    }
  
    /* schedule */

    #schedule{
        background-image: url("../images/empty-auditorium.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        overflow: hidden;
    }

    #schedule div{
        color: #fafafa;
        background-color: rgba(0, 0, 0, .6);
        width: 20%;
        height: 300px;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        border: 2px solid white;
        box-sizing: border-box;
    }
    #schedule h2{
        color: #fafafa;
    }
    

